[Unit]
Description=hello_env.js - making your environment variables rad
Documentation=https://example.com
After=network.target

[Service]
#Environment=NODE_PORT=3001
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/source/serverless-rest-api-with-nodejs-and-mongo/start-dev.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
